<div class="flex justify-between items-center mb-6">
  <h1 class="text-xl font-bold capitalize">
    List Car
  </h1>
  <div>
    <a class="py-2 px-3 bg-darkblue04 text-white text-sm font-bold flex items-center rounded-sm hover:bg-darkblue05  active:bg-darkblue03" href="/list-car/add-new-car">
      <i class="stroke-2 stroke-white mr-3" data-feather="plus"></i>
      Add New Car
    </a>
  </div>
</div>
<!-- filter cars -->
<div class="flex gap-4 mb-6">
  <form action="/list-car" method="get">
    <button name="cat" type="submit" value="all" class="<%= url=='/list-car'|| url=='/list-car?cat=all' ? 'cat-btn-active' : 'cat-btn' %>">
      All
    </button>
    <button name="cat" type="submit" value="small" class="<%= url=='/list-car?cat=small' ? 'cat-btn-active' : 'cat-btn' %>">
      Small
    </button>
    <button name="cat" type="submit" value="medium" class="<%= url=='/list-car?cat=medium' ? 'cat-btn-active' : 'cat-btn' %>">
      Medium
    </button>
    <button name="cat" type="submit" value="large" class="<%= url=='/list-car?cat=large' ? 'cat-btn-active' : 'cat-btn' %>">
      Large
    </button>
  </form>
</div>

<!-- cars card list -->
<div class="grid grid-cols-3 gap-6">
  <% if(cars) { %>
  <% cars.map((car)=>{ %>
  <%- include("../../partials/car-card",{car}) %>
  <%- include('../../partials/dialog-box') %>
  <% }) %>
  <% } %>
</div>

<script>
  // Dialog Box Delete
  const dialogBox = document.querySelector('#dialog-box')
  let carId

  const openDialogBox = (id) => {
    carId = id
    dialogBox.classList.replace('hidden', 'flex')
  }

  const closeDialogBox = () => dialogBox.classList.replace('flex', 'hidden')

  const handleDeleteCar = async () => {
    const response = await fetch(`/list-car/${carId}`, {
      method: 'DELETE',
    })

    const data = await response.json()

    const alertCar = document.querySelector('#alert-car')
    alertCar.textContent = data.message

    dialogBox.classList.replace('flex', 'hidden')
    alertCar.classList.remove('hidden')

    setTimeout(() => {
      alertCar.classList.add('hidden')
      location.reload()
    }, 3000)
  }
</script>